<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-mg-kunder-keychain" version="1.0.3">
    <name>AccountManagerPlugin</name>
    <description>Account Manager cordova plugin for android and keychain for iOS</description>
    <license>Apache 2.0</license>
    <keywords>cordova,accountmanager,android,plugin</keywords>

    <js-module src="www/AccountManager.js" name="AccountManager">
        <clobbers target="window.AccountManager" />
    </js-module>

    <preference name="ACCOUNT_MANAGER_LABEL"/>
    <preference name="ACCOUNT_MANAGER_TYPE"/>

    <engines>
        <engine name="cordova" version=">=8.1.1" />
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AccountManagerPlugin">
                <param name="ios-package" value="AccountManagerPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/KeychainWrapper.h" />
        <source-file src="src/ios/KeychainWrapper.m" />
        <header-file src="src/ios/AccountManagerPlugin.h" />
        <source-file src="src/ios/AccountManagerPlugin.m" />
        
        <framework src="Security.framework" />
        <framework src="Foundation.framework"/>
        <framework src="LocalAuthentication.framework"/>
    </platform>
</plugin>